################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VetSystems/Services/IdentityServer/VetSystems.IdentityServer/appsettings.Local.json
/VetSystems/Services/Account/VetSystems.Account/appsettings.Local.json
VetSystems/.vs/VetSystems/v17/.suo

ApiGateways/XProject.Gateway/bin/Debug/
*.vsidx
*.vsidx
/VetSystems/Services/IdentityServer/VetSystems.IdentityServer/appsettings.Local.json
/VetSystems/Services/Vet/VetSystems.Vet.Api/VetSystems.Vet.Api/appsettings.Local.json
VetSystems/.vs/ProjectEvaluation/vetsystems.metadata.v5.2
VetSystems/.vs/ProjectEvaluation/vetsystems.metadata.v5.2
VetSystems/.vs/ProjectEvaluation/vetsystems.metadata.v5.2
VetSystems/.vs/ProjectEvaluation/vetsystems.projects.v5.2
VetSystems/.vs/VetSystems/DesignTimeBuild/.dtbcache.v2
VetSystems/.vs/VetSystems/v17/.futdcache.v2
VetSystems/Services/Account/VetSystems.Account/bin/Debug/net7.0/VetSystems.Account.Api.dll
VetSystems/.vs/ProjectEvaluation/vetsystems.projects.v5.2
VetSystems/.vs/VetSystems/DesignTimeBuild/.dtbcache.v2
VetSystems/.vs/VetSystems/v17/.futdcache.v2
*.2
VetSystems/Services/Account/VetSystems.Account/bin/Debug/net7.0/VetSystems.Account.Api.dll
VetSystems/Services/Account/VetSystems.Account/bin/Debug/net7.0/VetSystems.Account.Api.pdb
VetSystems/Services/Account/VetSystems.Account/bin/Debug/net7.0/VetSystems.Account.Application.dll
VetSystems/Services/Account/VetSystems.Account/bin/Debug/net7.0/VetSystems.Account.Application.pdb
VetSystems/Services/Account/VetSystems.Account/bin/Debug/net7.0/VetSystems.Account.Domain.dll
VetSystems/Services/Account/VetSystems.Account/bin/Debug/net7.0/VetSystems.Account.Domain.pdb
VetSystems/Services/Account/VetSystems.Account/bin/Debug/net7.0/VetSystems.Account.Infrastructure.dll
VetSystems/Services/Account/VetSystems.Account/bin/Debug/net7.0/VetSystems.Account.Infrastructure.pdb
VetSystems/Services/Account/VetSystems.Account/bin/Debug/net7.0/VetSystems.Shared.dll
VetSystems/Services/Account/VetSystems.Account/bin/Debug/net7.0/VetSystems.Shared.pdb
VetSystems/Services/Account/VetSystems.Account/bin/Debug/net7.0/VetSystems.Account.Api.dll
VetSystems/Services/Account/VetSystems.Account/bin/Debug/net7.0/VetSystems.Account.Api.pdb
